<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-md-12">
            <hr>
                {{ partial "license" . }}
            </hr>
            <hr></hr>
            <p class="text-center">
                <small>
                &copy 2015 -
                {{ .Site.LastChange.Year }}
                <a href="www.kulawe.com" title="Kulawe Website">Kulawe Limited</a>. All Rights Reserved.
                <br>
                Gopher images &copy 2015 - {{ .Site.LastChange.Year }} Ben Price. All Rights Reserved.
                </small>
            </p>
        </div>
    </div>
</div>
</body>
</html>
