<div class="col-md-9">
    <div class="page-header">
        <span>
            <h1>{{ .Title }}
                {{ if .Params.subtitle }}
                    <small>{{ .Params.subtitle }}</small>
                {{ end }}
            </h1>
        </span>
        <p>
                by {{ .Params.author }}
        </p>
        <h5><small>
            <span class="glyphicon glyphicon-time">
                Published on: {{ .Date.Format "Mon, Jan 2, 2006" }}
            </span>
        </small></h5>
        {{ $url := .Site.BaseUrl }}
        <div id="keystages">
            {{ if .Params.keystage }}
            <h6>Key stage:
                {{ range $keystage := .Params.keystage }}
                <a class="label label-primary" href="{{ $url }}/keystage/{{ $keystage | urlize }}">{{ $keystage }}</a>
                &nbsp;
                {{ end }}
            </h6>
            {{ end }}
        </div>
        <div id="Concepts">
            {{ if .Params.concepts }}
            <h6>Concepts:
                {{ range $concept := .Params.concepts }}
                    <a class="label label-success" href="{{ $url }}/concepts/{{ $concept | urlize }}">{{ $concept }}</a>
                &nbsp;
                {{ end }}
            </h6>
            {{ end }}
        </div>
    </div>
    {{ .Content }}
</div>
